<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center">
        <a href="https://erdemdemirtas.com.tr/media/ErdemDemirtaş-CV-ElektrikElektronikMühendisi.pdf" target="_blank"
            rel="noopener noreferrer">
            <div fxLayout="column" fxLayoutAlign="start center" class="cvlink">
                <button mat-icon-button>
                    <mat-icon>portrait</mat-icon>
                </button>
                <span>Erdem Demirtaş - CV - Elektrik Elektronik Mühendisi</span>
            </div>
        </a>
    </div>
</div>